input {
	border-radius: 5px;
	font-size: 16px;
	padding: 10px;
	border: 0px;
	margin-right: 20px;
}

#previousWord {
	font-size: 24px;
}

#nextWordSendButton {
	background-color: rgb(0, 175, 0);
}

#nextWordSendButton:hover {
	background-color: rgb(0, 195, 0);
}

#nextWordSendButton:disabled {
	background-color: rgb(150, 175, 150);
}


#resetButton {
	background-color: rgb(235, 0, 0)
}

#resetButton:hover {
	background-color: rgb(255, 0, 0);
}

#multiWord {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#multiWord h3{
	margin: 2px;
}

#multiWord p{
	margin: 2px;
}