body {
	background: skyblue;
	text-align: center;
	padding: 20px;
}

h1 {
	font-weight: bold;
	font-size: 60px;
}

.returnMenu {
	color: black;
	margin-left: 20px;
}

#mode{
	display: flex;
	justify-content: center;
	height: 50px;
	align-items: center;
}

h2{
	font-size: 30px;
}

/* menu.html用 */
.menuButton {
	color: black;
}